<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header> 
            <h1>Lol</h1>
        </header>
        <main role="main">
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://static.myfigurecollection.net/upload/items/1/1835651-56a48.jpg" alt="Ei">
                    <h2>Ei</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://i.pinimg.com/736x/cc/8a/3f/cc8a3f7ea6b5200369101816e06d6eb2.jpg" alt="post from Ei">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Ei: Out for the long weekend...
                        </p>
                    </li>
                </ul>
            </article>
        </main>
            
    </body>
</html>